---
import Layout from "../layouts/Layout.astro";
import Navegation from "../components/Navegation.astro";
---

<Layout title="Portafolio Hospital">
  <main>
    <Navegation />
  </main>
</Layout>

<style>
  main {
    margin: 0 auto;
    padding: 20px;
    width: 1300px;
  }
</style>
