---
import Layout from "../layouts/Layout.astro";
import Testimonio from "../components/Testimonio.astro";
import Navegation from "../components/Navegation.astro";
import Home from "@/components/Home.astro";
import Cardiologia from "@/components/Cardiologia.astro";
import Footer from "@/components/Footer.astro";
---

<Layout title="Portafolio Hospital">
  <main>
		<Navegation/>
		<Footer/>
  </main>
</Layout>

<style>
  main {
    margin: 0 auto;
    padding: 20px;
    width: 1300px;
  }
</style>
