---
import Layout from "../layouts/Layout.astro";
import Home from "./Home.astro";
import NavBar from "./NavBar.astro";
import Footer from "./Footer.astro";
---

<Layout title="Portafolio Hospital">
  <NavBar />
  <main>
    <Home />
  </main>
  <Footer />
</Layout>

<style>
  main {
    margin: 0 auto;
    padding: 0;
    width: 1300px;
  }
</style>
