---
import Section from "../components/Section.astro";
---

<Section>
  <div
    class="z-50 w-fit max-w-sm mx-auto -translate-x bg-white border border-gray-200 rounded-full top-4 left-1/2 dark:bg-gray-700 dark:border-gray-600"
  >
    <div class="grid h-full max-w-lg grid-cols-5 mx-auto">
      <a
        href="/"
        data-tooltip-target="tooltip-home"
        class="inline-flex flex-col items-center justify-center px-5 rounded-s-full hover:bg-gray-50 dark:hover:bg-gray-800 group"
      >
        <img src="/src/icons/Home.svg" alt="Inicio" />
        <div
          id="tooltip-home"
          role="tooltip"
          class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
        >
          Inicio
          <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
      </a>
      <a
        href="/Cardiologia"
        data-tooltip-target="tooltip-cardio"
        class="inline-flex flex-col items-center justify-center px-0 hover:bg-gray-50 dark:hover:bg-gray-800 group"
      >
        <img src="/src/icons/Heart.svg" alt="Cardiologia" />
        <div
          id="tooltip-cardio"
          role="tooltip"
          class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-light text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
        >
          Cardiologia
          <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
      </a>
      <a
        href="/Ortopedia"
        data-tooltip-target="tooltip-ortopedia"
        class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group"
      >
        <img src="/src/icons/Bones.svg" alt="Ortopedia" />
        <div
          id="tooltip-ortopedia"
          role="tooltip"
          class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
        >
          Ortopedia
          <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
      </a>
      <a
        href="/Pediatria"
        data-tooltip-target="tooltip-pediatria"
        class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group"
      >
        <img src="/src/icons/Pediatrics.svg" alt="Pediatría" />
        <div
          id="tooltip-pediatria"
          role="tooltip"
          class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
        >
          Pediatría
          <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
      </a>
      <a
        href="/Testimonio"
        data-tooltip-target="tooltip-felicita"
        class="inline-flex flex-col items-center justify-center px-5 rounded-e-full hover:bg-gray-50 dark:hover:bg-gray-800 group"
      >
        <img src="/src/icons/Congrat.svg" alt="Congrats" />
        <div
          id="tooltip-felicita"
          role="tooltip"
          class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
        >
          Felicitaciones
          <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
      </a>
    </div>
  </div>
</Section>
