---
import Section from "../components/Section.astro";
import { pediatria } from "@data";
import Layout from "@/layouts/Layout.astro";
import NavBar from "./NavBar.astro";
import Footer from "./Footer.astro";
import SliderControls from "./SliderControls.astro";
---

<Layout title="Pediatria">
  <Section>
    <slot />
    <NavBar />
    <div id="default-carousel" class="relative" data-carousel="slide">
      <div class="relative h-56 md:h-96 overflow-hidden rounded-lg">
        <ul class="flex justify-center items-center h-full space-x-4">
          {
            pediatria.map(({ nombre, universidad, servicios, fotos }) => (
              <li
                class="m-auto justify-center items-center max-w-lg w-64 h-64 p-2 bg-white border border-gray-200 rounded-lg shadow-lg hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 transform transition-all duration-500 ease-in-out hover:scale-105"
                data-carousel-item
              >
                <img
                  src={fotos}
                  alt="Imagen de perfil"
                  class="m-auto w-28 object-cover rounded-lg"
                />
                <span class="block text-xs font-bold text-center text-gray-900 dark:text-white">
                  {nombre}
                </span>
                <span class="block text-xs text-center text-gray-700 dark:text-gray-400 mb-2">
                  {universidad}
                </span>
                <ul class="text-xs text-gray-600 dark:text-gray-300 list-disc pl-5">
                  {servicios.map((servicio) => (
                    <li class="mb-1">{servicio}</li>
                  ))}
                </ul>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <slot />
    <SliderControls />
    <slot />
    <Footer />
  </Section>
</Layout>
