---
import Layout from "@/layouts/Layout.astro";
import Section from "../components/Section.astro";
import { Image } from "astro:assets";
import Previous from "../assets/icons/Previous.svg";
import Next from "../assets/icons/Next.svg";
---

<Layout title="Slider Controls">
  <Section>
    <slot />
    <!-- Slider controls -->
    <div id="default-carousel" class="relative" data-carousel="slide">
      <button
        type="button"
        class="absolute bottom-52 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-prev
      >
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
        >
          <Image src={Previous} alt="Previous" />
          <span class="sr-only">Previous</span>
        </span>
      </button>
      <button
        type="button"
        class="absolute bottom-52 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-next
      >
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
        >
          <Image src={Next} alt="Next" />
          <span class="sr-only">Next</span>
        </span>
      </button>
    </div>
  </Section>
</Layout>
